<script src="/js/collection_stats.js"></script>
<div class="stats">
  <div class="row-fluid offset0">
    <p>Number of movies in your collection:</p>
  </div>
  <div class="row-fluid span11 offset1" id="movie_count">
  </div>
  <div class="row-fluid offset0 stats_sect">
    <p>Your most popular genres are:</p>
  </div>
  <div class="row-fluid span11 offset1" id="genre_stats">
  </div>
  <div class="row-fluid offset0 stats_sect">
    <p>The actor/actress that's been in the most of your movies is:</p>
  </div>
  <div class="row-fluid span11 offset1" id="actor_stats">
  </div>
  <div class="row-fluid span11 offset1" id="rating_stats">
    <table class="table results table-condensed" id="top_actor_data">
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="row-fluid offset0 stats_sect">
    <p>Your top rated movies are:</p>
  </div>
  <div class="row-fluid span11 offset1" id="rating_stats">
    <table class="table results table-condensed" id="top_movie_data">
      <tbody>
      </tbody>
    </table>
  </div>
</div>
