<script src="/js/control_panel.js"></script>
<div class="row-fluid">
  <h4 class="span6 offset3">Add a movie from your collection</h4>
  <div class="form-horizontal">
    <input class="span6 offset3" id="add_field" type="text" placeholder="Enter movie title"/>
    <button class="btn btn-success" id="add_btn">Add</button>
  </div>
  <div class="row-fluid">
    <div class="span6 offset3" id="status_msg">
    </div>
  </div>
  <br/>
  <div class="row-fluid">
    <h4 class="span6 offset3">Your movies</h4>
  </div>
  <div class="row-fluid">
    <div class="span6 offset3" style="height:405px;overflow:auto;">
      <table class="table table-bordered" id="movie_table">
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <br/>
  <div class="row-fluid">
    <div class="span6 offset3">
      <button class="btn btn-danger" id="delete_btn"><i class="icon-trash icon-white"></i> Delete Selected</button>
    </div>
  </div>
</div>

