<% if (!user) { %>
    <div class="subheading">
	  <a href="/auth/google" class="btn btn-success btn-large">Sign in with Google</a>
    </div>
<% } else { %>
	<script src="/js/rank_movies_new.js"></script>
    <div class="row-fluid section1">
      <div class="span3 offset1 asset">
        <div class="sort_options">Search by genre</div>
        <select id="genre_field"></select>
        <button class="btn btn-success btn-large" id="genre_btn">Booyah</button>
      </div>      
      <div class="span3 offset1 asset">
        <div class="sort_options">Search by actor</div>
        <input type="text" data-provide="typeahead" placeholder="Who do you want to see?" id="actor_field">
        <button class="btn btn-success btn-large" id="actor_btn">Kazaam</button>
      </div>
      <div class="span3 offset1 asset">
        <div class="sort_options">Similar to ...</div>
        <input type="text" data-provide="typeahead" placeholder="What movie do you like?" id="similar_field">
        <button class="btn btn-success btn-large" id="similar_btn">Wagwan</button>
      </div>
      <div class="span9 offset1 asset">
        <div id='sortby'></div>
        <ul class="results" id="data"></ul>
      </div>
    </div>
<% } %>
